nav {
    background-color: tomato;
    text-align: center;
    margin-bottom: 7px;
    border-radius: 8px;
}
nav > img {
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.card-body{
    display: grid;
    place-items: center;
    margin-top: 50px;
}
.card-items {
    display : flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
    margin-bottom: 45px;
}
.card-items > img {
    height: 250px;
    border-radius: 20px;
}
.card {
    width: 300px;
    line-height:95%;
    padding-top: 30px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.card > h2 {
    font-size: 35px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card > a {
    color:darkgrey;
    padding-left: 10px;
}
.date-style {
    font-weight: bold;
}